@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("font.css");

/* 스타일 초기화 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 숨김 콘텐츠 */

legend, .search-form label, .readable-hidden {
  background: lime;
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect (0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* 링크 스타일 */


/* (color:#~~~; 부모가 물려준 값에 상관없이 방문을 했든 하지 않았든, 무조건 글자 색을 ~색으로 하겠다.) */


/* (color: inherit;상속 값을 주면 무조건 부모가 물려준 값이 우선 적용된다.) */

a:link, a:visited {
  color: inherit;
  /* 글자 밑줄 없애기 */
  text-decoration: none;
}
a:hover, a:focus {
  color: red;
}

/* 반응형 콘텐츠 */

.responsive {
  max-width: 100%;
  height: auto;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  color: #181818;
  background-color: hsl(0, 0%, 100%);
  font-family: "Noto Sans", sans-serif;
}

/* Mobile */

@media screen and (max-width: 999px) {
  .container {
    background: pink;
  }
  .header {
    display: flex;
    flex-direction: column;
    background: #38302e;
  }
  .logo, .member, .search-form {
    /* 안쪽 여백 주기 (html 부모 기본 픽셀이 10px이니 2rem인 20px */
    /* 값을 두번 주면 1.위아래 2.좌우 3.아래쪽 4.왼쪽... (탑을 기준으로 시계 방향으로 적용-순서 공식) */
    /* 0은 값을 생략해도 된다. */
    padding: 1rem 2rem;
  }
  .logo {
    width: 30%
  }
  .navigation {
    widows: 50%;
    height: auto;
  }
  .member {
    background: #988574;
    color: #ffffff;
    /* 글자 앞 기호 없애는 법 */
    list-style: none;
    /* 순서의 default 값은 0이다. */
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .member li {
    margin-left: 1rem;
  }
  /* a는 인라인 상자라서 부모에게 영향을 주지 않는다. ex.패딩값 늘려도 전체 상자는 안 늘어남 */
  /* 부모에게까지 영향을 주고 싶으면 member(부모)에서 블록 상자 처리를 해줘야 한다. */
  .member a {
    padding: 0.5rem 0;
  }
  .search-form {
    padding-top: 0;
  }
  .search {
    border: 1px solid #aaaaaa;
    padding: 6px 2px 4px 10px;
    border-radius: 5px;
    margin-right: 1rem;
    width: calc(100% - 5rem);
    vertical-align: middle;
  }
  .btn-search {
    position: relative;
    border: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    background: none;
    font-size: 1rem;
    vertical-align: middle;
  }
  .btn-search::after {
    background-image: url("images/btn_search.png");
    background-size: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menubar-container {
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    /* IR기법 : 넘치는 글자 숨기기 */
    overflow: hidden;
  }
  .btn-menubar {
    /* 버튼은 백그라운드 없애면 디폴트 값 회색이 되니까 투명으로 처리해야 함 */
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    /* 숫자 크게 하면 z축 기준으로 위로 올라오는 것 */
    z-index: 1;
    border: 0;
    padding: 30px 0 0 0;
    /* 부모 영역과 크기 같아짐 */
    width: 100%;
    height: 100%;
    margin: 0;
    /* 링크요소, 버튼요소는 default로 포인터 모양이 나오지만 박스 밖으로 나가있어서 이러한 특성을 줌 */
    cursor: pointer;
    outline-offset: -2px;
  }
  .menubar {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
  }
  .menubar-top {
    top: 0;
  }
  .menubar-act .menubar-top {
    top: 50%;
    transform: rotate(45deg);
    margin-top: -3px;
  }
  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-act .menubar-middle {
    transform: translate(-100%, -50%);
  }
  .menubar-bottom {
    bottom: 0;
  }
  .menubar-act .menubar-bottom {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -3px;
  }
  /* '동적'인 같은 값이 있을 때 더 아래쪽에 있는 것이 적용되니 상위 값을 적용시키려면 !important를 사용 */
  .menu-act {
    transform: translateX(0) !important;
  }
  .main-menu {
    background: rgba(0, 0, 0, 0.85);
    /* 중간단계 보여주기 : 메인메뉴와 메뉴액트 비교해서 바뀌는 것이 트랜지션인데 ?초동안 실행 (슬라이딩 효과) */
    transition: all 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    color: #ffffff;
    padding: 2rem;
    list-style: none;
    transform: translateX(-100%);
  }
  .main-menu span {
    display: block;
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .sub-menu li {
    margin: 0.5rem 2rem;
    list-style: none;
  }
}

/* Desktop */

@media screen and (min-width:1000px) {
  .header, .main-menu {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
  }
  .header {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo    member" "logo    search";
    grid-template-columns: 204px 1fr;
    grid-template-rows: 45px 55px;
  }
  .logo {
    grid-area: logo;
    line-height: 100px;
  }
  .logo a {
    display: block;
  }
  .logo img {
    vertical-align: middle;
  }
  .member, .search-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .member {
    grid-area: member;
    list-style: none;
  }
  .member li {
    margin-left: 1em;
  }
  .search-form {
    grid-area: search;
  }
  .search-wrap {
    padding: 10px 0 0 0;
  }
  .search {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 5px 10px;
    width: 400px;
  }
  .btn-search {
    background-color: #988574;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    color: #ffffff;
    margin-left: 1em;
  }
  .navigation {
    background-color: #988574;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 1.5rem 0 1rem;
  }
  .main-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 1.8rem;
  }
  .main-menu span {
    text-shadow: 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;
  }
  .sub-menu {
    list-style: none;
    font-size: 1.6rem;
    margin: 1rem;
  }
  .sub-menu a {
    display: block;
    padding: 5px 0;
    margin-top: 5px;
  }
  .menubar-container {
    /* 기계적으로도, 눈으로 봐도 없애기 */
    display: none;
  }
}